.infoWindow {
  position: absolute;
  z-index: 1;
  min-width: 150px;
  min-height: 50px;
  padding: 0.5rem;
  background: aliceblue;
  border: 5px solid aqua;
  border-radius: 10px;
  font-size: 14px;
}

.infoWindow ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.infoWindow:hover {
  cursor: pointer;
}
